# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Editores
.vscode/
.idea/
*.swp
*~

# Sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp

# NO subir el portal con secret real (solo el template)

# NO subir dnsmasq.leases con MACs reales
dnsmasq.leases
